.user-name {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.user-text {
    white-space: nowrap;
}
