.author-name {
    background: linear-gradient(90.05deg, #A2B6FD 0.01%, #A2FFB2 99.45%);
    color: #1A1A1A;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.author-badge-container {
    margin-bottom: 8px;
}

.author-role {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #1A1A1A;
    background: linear-gradient(90.05deg, #A2B6FD 0.01%, #A2FFB2 99.45%);
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: uppercase;
}