.project_card {
    padding: 16px;
    background: #323232;
    border: 1px solid #838383;
    border-radius: 10px;
    height: 380px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.project_card h3 {
    margin: 0 0 8px 0;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.author_text {
    margin: 0 0 12px 0;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A2FFB2;
    cursor: pointer;
}

.tags_roles_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags_container span,
.roles_container span {
    margin-right: 8px; 
}


.description_container {
    box-sizing: border-box;
    width: 100%;
    height: 165px;
    background: #1A1A1A;
    border: 1px solid #191919;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #838383 #1A1A1A;
}

.description_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0;
}

.buttons_project button {
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    background: linear-gradient(0deg, #595959 -0.09%, #353535 60.28%);
    border: 1px solid #989898;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.3s ease-in-out;
}

.button_bookmarks {
    border-radius:0 0 0 10px;
    left: 0;
}

.button_respond {
    border-radius:0 0 10px 0;
    left: 50%;
}

.button_respond:hover, 
.button_bookmarks:hover {
    background: linear-gradient(0deg, #353535 -0.09%, #595959 60.28%);
}
