.navigate_bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
    height: 210px;
    background: #323232;
    border: 1px solid #595959;
    border-radius: 10px;
    padding: 20px;
}

.nav-button {
    display: block;
    border: none;
    width: 200px;
    height: 35px;
    background: #1A1A1A;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-align: left;
    padding-left: 70px;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Inter', sans-serif;
}

.nav-button:hover,
.nav-button.active {
    background: linear-gradient(90.05deg, #A2B6FD 0.01%, #A2FFB2 99.45%);
    color: #1A1A1A;
}