.auth-button-login {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
}

.auth-button-login:hover {
    color: #A2FFB2;
}

