.auth-button-registration {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
}

.auth-button-registration:hover {
    color: #A2B6FD;
}
