.tags_and_roles {
    box-sizing: border-box;
    width: 100%;
    background: #323232;
    border: 1px solid #838383;
    border-radius: 16px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;
}

.section-header-profile {
    flex-direction: column;
}

.section-header-profile h2 {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 0 0px 0;
}

.sections_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tags_section,
.roles_section {
    background: rgba(26, 26, 26, 0.6);
    border: 1px solid #404040;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease;
    height: fit-content;
}

.tags_section:hover,
.roles_section:hover {
    border-color: #A2B6FD;
}

.section_title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.section-title h3 {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}

.empty-message {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 24px;
    color: #A2B6FD;
    margin: 0;
}

@media (max-width: 768px) {
    .tags_and_roles {
        padding: 20px 16px;
        border-radius: 12px;
    }
    
    .section-header h2 {
        font-size: 20px;
        line-height: 28px;
    }
    
    .tags_section,
    .roles_section {
        padding: 16px;
    }
    
    .section_title {
        gap: 8px;
    }
    
    .section_title h3 {
        font-size: 16px;
    }
}