.search-input {
    width: 100%;
    height: 30px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 450px;
    height: 42px;
    background: #1A1A1A;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}