.main_container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr;
    background: linear-gradient(106.35deg, #1A1A1A 9.43%, #161616 97.2%);
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    box-sizing: border-box;
}

.navigate_container { 
    grid-column: 1 / 2;
}

.page_container { 
    grid-column: 2 / 3;
}

body {
    margin: auto;
}